.categoriesMenu {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 25px;
  flex-wrap: wrap;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  margin-bottom: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.categoryTitle {
  font-size: 0.7rem;
  font-weight: bold;
}
