.main {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: blue;
  max-width: 1032px;
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 1032px) {
  .content {
    flex: 1;
    background-color: blue;
    width: 100%;
    margin-bottom: 50px;
  }
}
