.navigation {
  background-color: black;
  display: flex;
  height: 50px;
  flex-direction: row;
  padding-left: calc((100% - 1000px) / 2);
  padding-right: calc((100% - 1000px) / 2);
}
@media screen and (max-width: 800px) {
  .navigation {
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navbutton {
  border: none;
  background-color: transparent;

  height: 52px;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .navbutton {
    flex-direction: column;
    width: 72px;
    font-size: 12px;
    padding-top: 8px;
  }
}

.navbutton > :first-child {
  margin: 0 16px;
}

@media screen and (max-width: 800px) {
  .navbutton > :first-child {
    margin-bottom: 2px;
  }
}

.navitem {
  padding-left: 10px;
  padding-right: 15px;
}

.navitemActive {
  padding-left: 10px;
  padding-right: 15px;
  color: #fabc6b !important;
}

.logoNavBar {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  justify-content: space-between;
}

.spaceBetween {
  width: 10px;
}

@media screen and (max-width: 800px) {
  .logoNavBar {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  .pushItems {
    margin-left: auto;
  }
}
