.sectionTitle {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 20px;
}

.horizontalBar {
  height: 42px;
  width: 5px;
  background-color: black;
  margin-right: 10px;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: medium;
  font-weight: bold;
}

.subtitle {
  font-size: small;
  color: rgba(0, 0, 0, 0.5);
}
