.container {
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap !important;
  padding-bottom: 20px;
  vertical-align: middle;
  scrollbar-width: thin;
  overflow-x: scroll;
  overflow-y: hidden;
}
.main::-webkit-scrollbar {
  display: none;
}

.prev,
.next {
  padding-top: 130px;
  padding-left: 5px;
  min-width: 15px;
}

.prev:hover,
.next:hover {
  background-color: #00000011;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .prev,
  .next {
    display: none;
  }
}
